*{
    padding: 0;
    margin: 0;
}
.OneText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 600px;

    align-items: center;
    margin-top: 40px;
   
}
.onesection {
    background-image: url("../images/mdu2026.png");
    width: 100%;
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
   
}
.rightbottumtext{
    position: absolute;
    top: 800px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    color: white;
    left: 8px;
    font-size: 14px;
}
.leftbottumtext{
     position: absolute;
    top: 800px;
    display: flex;
    gap: 8px;
    font-size: 18px;
    color: white;
    right: 50px;
}
.textimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}
.textimg h2{
    font-size: 30px;
}
.Textend h2{
    font-size: 30px;
}
.textimg img{
  
    width: 300px;
}
.TextLogo img{
    width: 200px;
  
}
.Textend{
    color: white;
}
.TextLogo{
    display: flex;
align-items: center;
gap: 30px;

}
.dateAnim {
  display: inline-block;
  animation: floatText 2s ease-in-out infinite;
}
.dowunloadform{
    display: flex;
    flex-direction: column;
    align-items: center;
background-color: transparent;
}

.uploadBtn{
  position: relative;
  display: inline-block;
  padding: 20px;
    background-color: #581c64;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 469px;
  overflow: hidden;
  font-family: sans-serif;
   transition: transform 0.3s ease, background-color 0.3s ease;

}
.uploadBtn:hover {
  background-color: #005fcc;
  transform: scale(1.1); 
}
label{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.uploadBtn input{
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  
}

.filebtn{
    display: flex;
    gap: 60px;
}
.filebtn button{
    width: 230px;
    padding: 15px;
    border: none;
    background-color: #581c64;
    font-size: 20px;
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.filebtn button:hover{
  background-color: #005fcc;
  transform: scale(1.1); 
}

.btnDownload:active, .btnUpload:active {
  transform: scale(0.95);
}
@keyframes floatText {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}