:root {
  --purple-50: #f3e8ff;  
  --purple-100: #e9d5ff;  
  --purple-300: #c084fc;  
  --purple-500: #9333ea;  
  --purple-700: #6d28d9;  
  --purple-900: #130429;  
}


.sectionTwo{
   background-color:white;
  

    width: 100%;
    box-sizing: border-box; 

    display: flex;
    justify-content: center; 
    align-items: center;

    flex-wrap: wrap;

    gap: 80px;

    padding: 60px 0px;

    /* border-top: 2px solid rgb(210, 233, 9); */

    overflow-x: hidden; 
}


.sectionnumber{
    border-radius: 10px;
    /* border: 1px solid goldenrod; */

    font-size: 27px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

   color:  #3e0355;

    width: 260px;
    height: 150px;

    box-sizing: border-box; 
}