.submissioncontainer{
    background-color: rgb(212, 180, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    align-items: center;
    padding: 60px 0;
}
.GuidelinesBox{
    background-color: rgb(245, 204, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    padding: 40px 0;
    gap: 40px;
    border-radius: 10px;
  
    
}
.texticonguidelines{
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 10px;
  
}
.editiconse{
    font-size: 40px;
     color: navy;
}
.GuidelinesBoxText{
    display: flex;
    flex-direction: column;
    gap: 10px;
      
}
.GuidelinesBoxText h2{
    color: navy;
}
.GuidelinesBoxText p{
    color: rgb(80, 132, 245);
}
.important{
    display: flex;
    gap: 10px;
    align-items: center;
}
.ImportantInformation{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 700px;
    background-color: rgb(130, 194, 255);
    border: 1px solid   rgb(7, 114, 214);
}
.deadline h4{
    color: rgb(7, 89, 167);

}
.important{
     color: rgb(7, 89, 167);
}
.information p{
    color: rgb(7, 123, 233);
}
.Requirements{
    display: flex;
   
    gap: 60px;
}
.FormatRequirements{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ContentRequirements{
     display: flex;
    flex-direction: column;
    gap: 20px;
}
.ContentRequirements nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
      color: rgb(2, 96, 158);
      margin: 0;
  padding-left: 20px;
}
.FormatRequirements nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(2, 96, 158);
    margin: 0;
  padding-left: 20px;

}
.ContentRequirements h2{
    color: rgb(3, 65, 107);
    display: flex;
    gap: 20px;
    align-items: center;
   
}
.FormatRequirements h2{
    color: rgb(3, 65, 107);
      display: flex;
    gap: 20px;
    align-items: center;
    text-align: left;
}
.note{
    display: flex;
    background-color: rgb(255, 213, 135);
    color: rgb(167, 110, 6);
    gap: 10px;
   width: 710px;
   padding: 10px;
}

