.Venuetext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #3B1E8C; 
}

.venutexticont{
    display: flex;
    align-items: center;
    gap: 7px;
}

.venutexticont h2{
    font-size: 35px;
    color: #241B4E; 
}

.venuicone{
    font-size: 30px;
    color: #06b6d4; 
}

.Venuetext hr{
    width: 50%;
    height: 2.8px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
      90deg, 
      #06b6d4,       
      #3B1E8C,       
      #4B3A94        
    );
}

.VenueCartcontainer{
    padding: 70px 0; 
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
}

.VenueCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.VenueCartBox{
    width: 600px;
    max-width: 90%; 
    height: auto;   
    display: flex;
    flex-direction: column;
    color: #f5f5f5; 
    padding: 30px;
    box-shadow: 0 10px 30px rgba(36, 27, 78, 0.18);
    gap: 20px;
    border-radius: 10px;
    background: #241B4E; 
    backdrop-filter: blur(50px); 
    border: 1px solid #4B3A94; 
}

.locationbtn button{
    width:350px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 16px;
    background-color: #3B1E8C;
    color:white;
    font-weight: 600;
    transition: all 0.3s ease;
}

.locationbtn button:hover{
    background-color: #4B3A94; 
    color: #fff;
    box-shadow: 0 5px 15px rgba(59, 30, 140, 0.4);
    transform: translateY(-2px);
}

.locationmap{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color:#e9d5ff;
}

.unitext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.Venucarttext{
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.unitexticon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.unitexticon h2{
     font-size: 33px;
     color: #ffffff; 
}

.unicitylocation{
   font-size: 37px;
   color: #06b6d4;
}
