:root {
  --purple-50: #f3e8ff;   
  --purple-100: #e9d5ff;  
  --purple-300: #c084fc;  
  --purple-500: #9333ea;  
  --purple-700: #6d28d9;  
  --purple-900: #4c1d95;  
}
.sectiontrre{
    display: flex;
    justify-content: space-evenly;
    background-color:white;
  
    height: 140vh;
    color: #6d28d9; 
    align-items: center;
    font: 1em sans-serif;
}

.Leftsection{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 700px;
}

.Lefttext h2{
    font-size: 47px;
    color:  #3e0355; 
}

.Lefttext p:nth-child(1) {
    color: #f07030;
}

.Lefttext p{
    font-size: 19px;
    color: black; 
}

.Lefttext{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Lefttext hr{
    width: 100px;
    height: 4px;
    border-radius: 10px;
    border: none;
    background-color: #9333ea; 
}

.LeftCart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lextcarttext{
    display: flex;
    padding: 30px;
    gap: 15px;
    border-left: 8px solid #f07030; 
    backdrop-filter: blur(15px);
   background: rgba(80, 3, 116, 0.2); 
  backdrop-filter: blur(10px); 
}

.lextboxtext{
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}

.righttext {
  display: flex;
  justify-content: center;
  padding: 40px;
  height: 950px;
}

.rightbox {
  width: 600px;
  height: 570px;
 background: white; 
  backdrop-filter: blur(10px); 
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #f07030;
}

.rightboxtext {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.righttextone {
  width: 30%;
  color: #f07030; 
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.righttexttwo {
  width: 70%;
  color: black; 
  font-size: 15px;
  line-height: 1.6;
}

.divider {
  height: 1px;
  background: #f07030;
  margin: 15px 0;
}

.highlight {
  background-color:  #3e0355; 
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
}
.lextboxtext p:nth-child(1){
  color: white;
}
.lextboxtext p:nth-child(2){
  color: #9090b0;
}
