.participantscontainer{
    background-color: #1a1950;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}
.conferenceparticipants{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.participantsicon{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}
.participantsicon h2{
    color: white;
}
.participantbox h4{
    color: white;
}
.participantbox{
    color: #9090b0;
}

.participantstext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}
.participantbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#201e61; 
  backdrop-filter: blur(50px); 
 
    border: 1px solid #480f50; 
    width: 360px;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
}
.participantbox:nth-child(1) .participanttexticon,.participantbox:nth-child(1) h2{
    font-size: 40px;
    color: blueviolet;
}
.participantbox:nth-child(2) .participanttexticon,.participantbox:nth-child(2) h2{
     font-size: 40px;
    color: green;
}
.participantbox:nth-child(3) .participanttexticon,.participantbox:nth-child(3) h2{
     font-size: 40px;
    color: yellow;
}
.participantbox:nth-child(4) .participanttexticon,.participantbox:nth-child(4) h2{
     font-size: 40px;
    color: rgb(0, 195, 255);
}
.participantboxicon{
    font-size: 40px;
    color: #f07030;
}
.participantsparagrap p{
    color: #9090b0;
}
.participanttexticon{
    font-size: 50px;
}
.conferenceboxflex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}
