.participantscontainer{
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}
.conferenceparticipants{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.participantsicon{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}
.participantsicon h2{
    color: navy;
}

.participantstext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}
.participantbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 360px;
    padding: 20px;
    gap: 10px;
    /* font-size: 20px; */
    border-radius: 10px;
}
.participantbox:nth-child(1) .participanttexticon,.participantbox:nth-child(1) h2{
    font-size: 40px;
    color: blueviolet;
}
.participantbox:nth-child(2) .participanttexticon,.participantbox:nth-child(2) h2{
     font-size: 40px;
    color: green;
}
.participantbox:nth-child(3) .participanttexticon,.participantbox:nth-child(3) h2{
     font-size: 40px;
    color: yellow;
}
.participantbox:nth-child(4) .participanttexticon,.participantbox:nth-child(4) h2{
     font-size: 40px;
    color: rgb(0, 195, 255);
}
.participantboxicon{
    font-size: 40px;
    color: navy;
}
.participantsparagrap p{
    color: rgb(4, 4, 165);
}
.participanttexticon{
    font-size: 50px;
}
.conferenceboxflex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}
