.speakerscontainer{
    background-color: #12113a;
    padding: 60px 0;
}

.speakercontainertext{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.Speakerinfocontainer{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
    
}
.SpeakerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.Speakerboxtext h2{
    font-size: 40px;
    color:white;
}
.Speakerparagraph p{
    color: rgb(9, 50, 185);
}
.microponeicon{
     font-size: 45px;
     color: #f07030;
}
.Speakerboxtext{
    display: flex;
    align-items: center;
    gap: 10px;
}
.microponeicon{
font-size: 25px;
}
.SpeakerInfo{
    width: 410px;
    background:#36339c; 
  backdrop-filter: blur(50px); 
 
    border: 1px solid #480f50; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    padding: 30px 0;
}
.SpeakerName h2{
    color: white;
}
.country p{
    color: #f07030;
}
.workinfo p{
    color: white;
}
.SpeakerName  p{
    color: #f07030;
}
.Speakerboximage img{
width: 300px;
}
.SpeakerName{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.Speakerwork{
    display: flex;
    gap: 8px;
}
.topic button{
    padding: 6.7px 26px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
  color: white;
    background-color: #231f7c;
}
.workinfo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.Speakerparagraph p{
    color: #9090b0;
}
.uniiconwor{
    color: #f07030;
}