@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* SECTION */
.Cartsection{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 80px 0;
     background-color: rgb(3, 52, 156);

     gap: 40px; /* 🔥 əsas fix */
}

/* TEXT */
.CartText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.CartText p:nth-child(1){
    color: yellow;
    font-size: 18px;
    font-weight: 500;
}

.CartText p:nth-child(3){
    color: rgb(199, 197, 197);
    font-size: 18px;
    font-weight: 300;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
}

.CartText h2{
    color: white;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
}

.CartText hr{
    width: 120px;
    height: 2px;
    border: none;
    border-radius: 10px;
    background-color: rgb(217, 255, 0);
}

/* BOX CONTAINER */
.CartBoxContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ROWS */
.CartBoxTop,
.CartBoxBottom{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* BOX */
.CartBox{
    position: relative;
    padding: 18px;
    border: 1px solid rgb(204, 248, 5);
    display: flex;
    border-radius: 10px;

    min-height: 300px;  
    width: 300px;

    flex-direction: column;
    gap: 10px;
    cursor: pointer;

    overflow: hidden; 
    transition: 0.3s ease;
}

/* hover border */
.CartBox:hover{
     border: 2px solid rgb(248, 163, 5);
}

/* top line animation */
.CartBox::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    border-radius: 10px;
    background: linear-gradient(90deg, yellow, lime, cyan);
    transition: 0.4s ease;
}

.CartBox:hover::before{
    width: 100%;
}

/* BOX TEXT */
.boxnav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.boxnavone{
    display: flex;
    align-items: center;
    gap: 10px;
}

.boxnavone p:nth-child(1){
    color: yellow;
    font-weight: 500;
    font-size: 14px;
}

.boxnavone p:nth-child(2){
    color: rgb(170, 169, 169);
    font-size: 15px;
    line-height: 1.4;
}

/* TOP TEXT */
.boxtexttop{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.boxtexttop p{
    font-weight: 600;
}

.boxtexttop p:nth-child(1){
    color: yellow;
    font-size: 22px;
}

.boxtexttop p:nth-child(2){
    color: white;
    font-size: 20px;
}