@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --purple: #e9d5ff;
  --turquoise: #1f065c;
  --gold: #FFD700;
  --orange: #06b6d4;
  --green: #4CAF50;
  --neutral: #3B1E8C;
  --pink: #E91E63;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.Cartsection{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 80px 0;
     background-color: white;
     gap: 40px;
}

.CartText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.CartText p:nth-child(1){
    color: #06b6d4;
    font-size: 18px;
    font-weight: 500;
}

.CartText p:nth-child(3){
    color: #9090b0;
    font-size: 18px;
    font-weight: 300;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
}

.CartText h2{
    color: #3B1E8C;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
}

.CartText hr{
    width: 120px;
    height: 2.8px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
      90deg, 
      #06b6d4,       
      #3B1E8C,       
      #4B3A94        
    );
}

.CartBoxContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CartBoxTop,
.CartBoxBottom{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.CartBox{
    position: relative;
    padding: 18px;
    display: flex;
    border-radius: 10px;
    min-height: 300px;  
    width: 300px;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    overflow: hidden; 
    transition: 0.3s ease;
    color: white;
    background: #241B4E; 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(75, 58, 148, 0.25); 
}

.CartBox:hover{
    border: 1px solid #06b6d4;
    box-shadow: 0 10px 25px rgba(6, 182, 212, 0.2);
}

.CartBox::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 0%;
    border-radius: 10px;
    background: linear-gradient(
      90deg, 
      #06b6d4,       
      #3B1E8C,       
      #4B3A94        
    );
    transition: width 0.4s ease;
    z-index: 2; 
}

.CartBox:hover::before{
    width: 100%;
}

.boxnav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.boxnavone{
    display: flex;
    align-items: center;
    gap: 10px;
}

.boxnavone p:nth-child(1){
    color: #06b6d4;
    font-weight: 500;
    font-size: 14px;
}

.boxnavone p:nth-child(2){
    color: #e9d5ff;
    font-size: 15px;
    line-height: 1.4;
}

.boxtexttop{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.boxtexttop p{
    font-weight: 600;
}

.boxtexttop p:nth-child(1){
    color: #06b6d4;
    font-size: 30px;
}

.boxtexttop p:nth-child(2){
    color: white;
    font-size: 20px;
}
