@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --purple: #f2e8fc;
  --turquoise: #1f065c;
  --gold: #FFD700;
  --orange: #FF7F50;
  --green: #4CAF50;
  --neutral: #6e056e;
  --pink: #E91E63;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


.Cartsection{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 80px 0;
     background-color: #12113a;
     gap: 40px;
}


.CartText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.CartText p:nth-child(1){
    color: #f07030;
    font-size: 18px;
    font-weight: 500;
}

.CartText p:nth-child(3){
    color: #9090b0;
    font-size: 18px;
    font-weight: 300;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
}

.CartText h2{
    color:white;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
}

.CartText hr{
    width: 120px;
    height: 2.8px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
  90deg, 
  rgb(184, 121, 6),       
  #902ff8,       
  #4b12a8        
);
}


.CartBoxContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.CartBoxTop,
.CartBoxBottom{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}


.CartBox{
    position: relative;
    padding: 18px;
    display: flex;
    border-radius: 10px;
    min-height: 300px;  
    width: 300px;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    overflow: hidden; 
    transition: 0.3s ease;
    color: white;
    background: #1a1950; 
  backdrop-filter: blur(10px); 
    border: 1px solid #480f50; 
}




.CartBox:hover{
    border: 1px solid #e63a2e;
}


.CartBox::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 0%;
    border-radius: 10px;
   background: linear-gradient(
  90deg, 
  rgb(207, 136, 4),       
  #8525eb,       
  #4b12a8        
);

    transition: width 0.4s ease;
    z-index: 2; 
}


.CartBox:hover::before{
    width: 100%;
}


.boxnav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.boxnavone{
    display: flex;
    align-items: center;
    gap: 10px;
}

.boxnavone p:nth-child(1){
    color: #e63a2e;
    font-weight: 500;
    font-size: 14px;
}

.boxnavone p:nth-child(2){
    color: #9090b0;
    font-size: 15px;
    line-height: 1.4;
}


.boxtexttop{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.boxtexttop p{
    font-weight: 600;
   
}

.boxtexttop p:nth-child(1){
    color: #e63a2e;
    font-size: 30px;
}

.boxtexttop p:nth-child(2){
    color: white;
    font-size: 20px;
}
