:root {
  --purple-50: #f3e8ff;   
  --purple-100: #e9d5ff;  
  --purple-300: #c084fc;  
  --purple-500: #9333ea;  
  --purple-700: #6d28d9;  
  --purple-900: #4c1d95;  
}

*{
    padding: 0;
    margin: 0;
}
.navlink {
  color: white;  
  text-decoration: none;
  padding: 10px;
}
.HeaderContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #12113a; 
}

.HeaderLogo img{
    width: 90px;
    padding: 10px;
}
.HeaderLogo h2{
    font-size: 30px;
    padding: 10px;
    color: white;
}

.HeaderNav nav ul {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    color: var(--purple-50); 
}

.headerbtnnav{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.HeaderNav nav ul li {
    font-size: 20px;
    cursor: pointer;
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.3s;
}

.HeaderNav nav ul li:hover {
    color: var(--purple-300); 
}

.HeaderNav {
    width: 60%;
}

.HeaderBtn{
    display: flex;
    gap: 10px;
}

.HeaderBtn button{
    cursor: pointer;
    width: 150px;
    padding: 9px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: var(--purple-500); 
    transition: 0.3s;
}

.HeaderBtn button:hover{
   background-color: var(--purple-300); 
   color: #000; 
}

.HeaderNav a{
    text-decoration: none;
}
.HeaderNav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.HeaderNav ul li{
    position: relative;
    cursor: pointer;
}

.dropdownMenu{
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
    width: 180px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.dropdown:hover .dropdownMenu{
    opacity: 1;
    visibility: visible;
}

.dropdownMenu a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.dropdownMenu a:hover{
    color: purple;
    padding-left: 5px;
}

.scrollTop{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 55px;
    height: 55px;
    background-color: #7b2cbf;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;

    z-index: 999;

    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

    transition: 0.3s;
}

.scrollTop:hover{
    transform: translateY(-5px);
    background-color: #9d4edd;
}