

.deadlinecontainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;
    padding: 60px 0;
}
.containerbox{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.deadlinetext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.calendaricon{
    display: flex;
    gap: 10px;
    font-size: 30px;
    color: navy;
    align-items: center;
}
.deadlineparagrap p{
    font-size: 20px;
    color: #9090b0;
}
.facalendaricon{
    font-size: 35px;
}
.deadlineboxcontainerone{
    display: flex;
    flex-direction: column;
    gap: 15px;
   background: #3e0355; 
  backdrop-filter: blur(50px); 
 
    border: 1px solid #480f50; 
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.deadlineboxcontainertwo{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #3e0355; 
  backdrop-filter: blur(50px); 
 
    border: 1px solid #480f50; 
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.deadlineboxcontainerfour h4{
    color: rgb(0, 4, 255);
}
.deadlineboxcontainerone h4{
    color: orangered;
}
.deadlineboxcontainertwo h4{
    color: green;
}
.deadlineboxcontainertree h4{
    color: yellow;
}
.deadlineboxcontainertree{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #3e0355; 
  backdrop-filter: blur(50px); 
 
    border: 1px solid #480f50; 
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.deadlineboxcontainerfour{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #3e0355; 
  backdrop-filter: blur(50px); 
 
    border: 1px solid #480f50; 
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.deadlineboxcontainerone h3{
    color: white;
}
.deadlineboxcontainertwo h3{
    color: white;
}
.deadlineboxcontainertree h3{
    color: white;
}
.deadlineboxcontainerfour h3{
    color: white;
}
.deadlineboxcontainerone p{
    color:#9090b0;
}
.deadlineboxcontainertwo p{
   color:#9090b0;
}
.deadlineboxcontainertree p{
   color:#9090b0;
}
.deadlineboxcontainerfour p{
   color:#9090b0;
}
.boxfullcontainer{
    display: flex;
    gap: 40px;
}
.deadlineicontwo{
    color:green;
    font-size: 40px;
}
.deadlineiconone{
    color: orangered;
    font-size: 40px;
}
.deadlineicontree{
    color: yellow;
    font-size: 40px;
}
.deadlineiconfour{
   color: rgb(0, 4, 255);
    font-size: 30px;
}
.boxfullcontainer:nth-child(1) h4{
color: blueviolet;
}
.calendaricon h2{
    color: rgb(76, 4, 78);
}
.facalendaricon{
    color: #f07030;
}
